.myHeader{
    height: 40px;
    width: 100%;
    background-color: bisque;
    margin-bottom: 10px;
}

.myFooter{
    height: 50 px;
    width: 100%;
   text-align: center;
   position: fixed;
   bottom: 0;
   
}
.p{
    margin-top: 5px;
    margin-bottom: 0px;
}

.mainPartOfPage{
    text-align: center;
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.q{
    height: 94px;
    position: absolute;
    top: 50%;
    margin-top: -47px;
    
}

.form{
    margin-top: 20px;
}

.divBottom{
    margin-bottom: 50px;
}